* {
  box-sizing: border-box;
}

.context {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  box-shadow: unset;
  border-radius: 0;
  overflow: hidden;
  transition: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  &.hidden {
    display: none;
  }

  .central-sector {}
  .central-icon {}
  .central-button {
    cursor: pointer;
  }
  .radial-menu-svg {
    overflow: visible;
    display: block;
  }
  .radial-nav {
    cursor: pointer;
    overflow: visible;
  }
  .radial-sector {
    stroke-width: 1;
    transition: opacity .4s;
  }
  .radial-icon {
    pointer-events: none;
    transition: all .4s;
    fill: #eee;
  }
  .radial-hint {
    font-size: .75em;
    font-weight: bold;
    text-anchor: middle;
    text-transform: uppercase;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s;
  }
  .radial-hint.active {
    opacity: 1;
  }
  .radial-hint-bg {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s;
  }
  .radial-sector,
  .radial-hint,
  .radial-hint-bg {
    transition: opacity .4s;
  }
  .radial-hint,
  .radial-hint-bg {
    opacity: 0;
  }
  .radial-hint.active,
  .radial-hint-bg.active {
    opacity: 1;
  }
  &.theme--dark {
    .radial-icon {
      fill: #7a7a7a;
    }
  }
}
